
.azm-social {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff;
  text-align: center;
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.azm-social:hover, .azm-social:focus, .azm-social:active { outline: 0; opacity: 0.8; color: #fff; }

.azm-btn {
  height: 48px;
  margin: 8px;
  padding: 13px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.azm-btn i { padding-right: 27px; font-size: 21px; line-height: 21px; vertical-align: top; }

.azm-btn i:after {
  content: "";
  position: absolute;
  top: -8px;
  left: 70%;
  width: 1px;
  height: 36px;
  background: #ccc;
  background: rgba(255, 255, 255, 0.3);
}

.azm-border-bottom {
  padding-top: 12px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.azm-spotify { background: #84bd00; }